export(end_QC)
export(initiate_QC)
export(makeRplink)
export(remove_heterozygocity)
export(remove_maf)
export(remove_missing)
export(remove_relatives)
export(remove_sex_problems)
import(stringr)
import(xtable)
